[submodule "src/linux"]
	path = src/linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
[submodule "src/u-boot"]
	path = src/u-boot
	url = https://source.denx.de/u-boot/u-boot.git
